nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand Портал
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn#btn-logout.btn.btn-default
						| Выйти
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn#btn-profile.btn.btn-default
						| Профиль
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn#btn-rating.btn.btn-default
						| Рейтинг